<div class="container">
  <div class="row searchArea">
    <div class="col-xs-8">
      <input type="text" class="form-control" [(ngModel)]="searchTerms" placeholder="Search">
    </div>
    <div class="col-xs-2">
      <button (click)="searchRecords()" class="btn btn-primary">Search</button>
    </div>
    <div class="col-xs-2">
      <button (click)="dismissFilter()" [ngClass]="{dontDisplayThis: dontDisplayThis()}" class="btn btn-danger">Clear</button>
    </div>
    <app-share-screen></app-share-screen>
  </div>
  <div class="results" *ngFor="let question of questions">
    <div class="row"  [routerLink]="['/detailsScreen']" [queryParams]="{ question_id: question.id }">
      <div class="col-xs-2">
        <img class="img-responsive" src={{question.thumb_url}}>
      </div>
      <div class="col-xs-10" style="padding-left: 40px">
        <p class="smallText">Question number: <span>{{question.id}}</span></p>
        <p class="smallText">Published date: <span>{{question.published_at | date:'fullDate'}}</span></p>
        <p class="bigText"><span>Question: </span>{{question.question}}</p>
      </div>
    </div>
  </div>
</div>
