<div>
  <input type="text" [(ngModel)]="searchTerms">
  <button (click)="searchRecords()">Search</button>
  <button (click)="dismissFilter()" [ngClass]="{dontDisplayThis: dontDisplayThis()}">Clear</button>
</div>
<div *ngFor="let question of questions">
  <div [routerLink]="['/detailsScreen']" [queryParams]="{ question_id: question.id }" style="border: 1px solid red; display: flex; min-width: 100%; margin: 20px 0">
    <div>
      <img style="height: 100%" src={{question.thumb_url}}>
    </div>
    <div style="padding-left: 40px">
      <p>Question number: {{question.id}}</p>
      <p>Published date: {{question.published_at | date:'fullDate'}}</p>
      <p>Question: {{question.question}}</p>
      <p>+ details.</p>
    </div>
  </div>
</div>
