<div>
  <div>
    <img src={{question.image_url}}>
  </div>
  <div>
    <p>
      {{question.question}}
    </p>
      <p>Vote: </p>
      <div *ngFor="let choice of question.choices; let i = index">
        {{i}}
        <button (click)="vote(i)">
          {{choice.choice}}
        </button>
         <span>Votes: {{choice.votes}}</span>
      </div>
  </div>
  <div>
    <a routerLink="/listScreen">Go back to list</a>
    <a routerLink="/shareScreen">Share</a>
    <app-share-screen></app-share-screen>
  </div>
</div>
